<section class="social mt-5" id="social">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 text-white">
                <div class="offers">
                    <h3 class="h6 fw-bolder text-uppercase d-flex justify-content-start align-items-center"><i class="fa-solid fa-percent me-3"></i>Exclusive Offers</h3>
                    <p class="fw-bold">Shop from our exclusive offers on our <br> website, sign up to stay up to date.</p>
                </div>
            </div>
            <div class="col-md-4 text-white">
             <div class="shipping">
                <h3 class="h6 fw-bolder text-uppercase"> <i class="fa-solid fa-cart-shopping"></i> Worldwide Shipping</h3>
                <p class="fw-bold">Get your order wherever you are</p>
             </div>
            </div>
            <div class="col-md-4 text-white">
                <div class="credit">
                    <h3 class="h6 fw-bolder text-uppercase d-flex justify-content-start align-items-center"> <i class="fa-regular fa-credit-card me-2"></i> Support Credit Card</h3>
                    <p class="fw-bold">Enjoy cashback & special rewards <br> when you sign up & make orders</p>
                </div>
            </div>
        </div>
    </div>
</section>