
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-uppercase fw-bold" routerLink="home"><img src="./assets/New folder/1700364-200.png">Wekalet El-Balah</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item text-center">
                <a class="nav-link text-uppercase fw-bolder ms-2" routerLinkActive="active"
                    routerLink="home">home</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link text-uppercase fw-bolder ms-2" routerLinkActive="active"
                    routerLink="products">products</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link text-uppercase fw-bolder ms-2" routerLinkActive="active"
                    routerLink="contact">contact</a>
            </li>
            
        </ul>
        <ul class="list-unstyled navbar-nav ms-auto">
            <li>
                <i class="fa-brands fa-facebook me-2"></i>
            </li>
            <li>
                <i class="fa-brands fa-twitter me-2"></i>
            </li>
            <li>
                <i class="fa-brands fa-instagram me-2"></i>
            </li>
            <li>
                <i class="fa-brands fa-linkedin me-2"></i>
            </li>
            <li>
                <i class="fa-brands fa-youtube me-2"></i>
            </li>
            <li>
                <a href="#" class="text-decoration-none text-dark fs-5 ms-2">SignOut</a>

            </li>
        </ul>
      </div>
    </div>
  </nav>